<?xml version="1.0" encoding="utf-8"?>
<!-- Configure your application settings in appsettings.json -->
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform arguments="%LAUNCHER_ARGS%" processPath="%LAUNCHER_PATH%" startupTimeLimit="3600" stdoutLogEnabled="false"/>
  </system.webServer>
</configuration>
